<div class="listing_wanner">
  <h1>Listing</h1>
  <p>
    Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar
    ultricies, purus lectus malesuada libero, sit amet <br />
    commodo magna eros quis urna Maecenas porttitor congue massa. Fusce posuere,
    magna.
  </p>
</div>
<div class="listing-warehouse-property">
  <div class="links">
    <span class="about-mute"
      ><a class="home" href="home">Home</a><span>/Listing</span></span
    >
  </div>
  <div class="warehouse-property-heading">
    <h1>
      Easy to use warehouse property <br />
      management solution for all your needs
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="icon-discription">
          <div class="icon">
            <img src="../../assets/Images/DotIcon.png" alt="" />
          </div>
          <div class="discriptions">
            <p>Malesuada Libero</p>
            <span
              >Fusce posuere, magna sed pulvinar ultricies, purus lectus
              malesuada libero, sit ame</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="listing-working-steps">
  <div class="listing-working-heading">
    <h1>How It Works?</h1>
  </div>
  <div class="container kyc-container">
    <div class="row kyc-signup-details">
     <!-- <img src="../../assets/Images/Vector1.jpg" alt="">  -->
      <div class="col-md-3 mb-5">
        <div class="signup-kyc-other-details">
          <div class="signup-img">
            <img src="../../assets/Images/ListingBG.png" alt="" />
          </div>
          <div class="kyc-header">
            <h3>Sign up with us</h3>
          </div>
          <div class="kyc-details">
            <span>Provide us information about your organization</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="signup-kyc-other-details">
          <div class="signup-img">
            <img src="../../assets/Images/ListingBG.png" alt="" />
          </div>
          <div class="kyc-header">
            <h3>Provide KYC details</h3>
          </div>
          <div class="kyc-details">
            <span
              >Provide us information about your orUpload all compliance
              information and associated documentation for the KYC to be
              completedganization</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="signup-kyc-other-details">
          <div class="signup-img">
            <img src="../../assets/Images/ListingBG.png" alt="" />
          </div>
          <div class="kyc-header">
            <h3>KYC Validation</h3>
          </div>
          <div class="kyc-details">
            <span
              >We would validate the information provided and complete the KYC
              process</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="signup-kyc-other-details">
          <div class="signup-img">
            <img src="../../assets/Images/ListingBG.png" alt="" />
          </div>
          <div class="kyc-header">
            <h3>Add/upload units</h3>
          </div>
          <div class="kyc-details">
            <span
              >On successful KYC start adding all the units you wish to list and
              benefit from our huge, verified customer base</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
