<div class="container-fluid">
    <div class="row d-flex footer-display-flex">
      <div class="col-sm-2 footer-column">
        <h3>Logo</h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
          illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
        </p>
      </div>
      <div class="col-sm-2 footer-column-footer-Links">
        <div class="footer-links">
          <h3>Link</h3>
          <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="/">Contact Us</a></li>
            <li><a routerLink="career">Careers</a></li>
            <li><a routerLink="privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="terms/conditions">Term & Condition</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 footer-column-HLinks">
        <div class="footer-links">
          <ul>
            <li><a routerLink="/">Leasing</a></li>
            <li><a routerLink="/">Listing</a></li>
            <li><a routerLink="/">Network</a></li>
            <li><a routerLink="/">Platform</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 footer-column-address">
        <h3>Address</h3>
        <p>
          Cross Office Mita <br />
          5-29-20 Shiba, Minato-ku, Tokyo, <br />
          108-0014 Japan
        </p>
        <span>Contact No.: 9619425896</span> <br />
        <span>Email ID: info@centegra.com</span>
      </div>
      <div class="col-sm-2 footer-column-appstore">
        <div class="AppBtn">
          <!-- App Store button -->
          <a
            href="https://www.apple.com/in/app-store/"
            target="_blank"
            class="market-btn apple-btn"
            role="button"
          >
            <span class="market-button-subtitle">Download on the</span>
            <span class="market-button-title">App Store</span>
          </a>
        </div>
        <div class="GglBtn">
          <!-- Google Play button -->
          <a
            href="https://play.google.com/store/"
            target="_blank"
            class="market-btn google-btn"
            role="button"
          >
            <span class="market-button-subtitle">Download on the</span>
            <span class="market-button-title">Google Play</span>
          </a>
        </div>
      </div>
    </div>
  
    <div class="row d-flex footer-copyright">
      <div class="col-sm-6 footer-copyright-left-side">
        <p>© Copyright 2023 | All rights reserved</p>
      </div>
      <div class="col-sm-6 footer-copyright-right-side">
        <div class="social-media-icon">
          <p>Follow Us</p>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-linkedin"></i>
        </div>
      </div>
    </div>
  </div>
  
