<div class="login-container">
  <div class="login-content" id="">
    <div class="filds">
      <mat-card-content class="content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3>Email address<span style="color: red">*</span></h3>
          <p>
            <mat-form-field
              class="example-full-width"
              appearance="outline"
              style="margin-top: -6px; height: -20px; width: 494px"
            >
              <input
                matInput
                placeholder="Enter email address"
                formControlName="email"
                id="email"
                name="email"
                [(ngModel)]="email"
                required
              />
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              <mat-error
                *ngIf="loginForm.controls['email'].hasError('required')"
              >
                Emial Id is required
              </mat-error>
            </mat-form-field>
          </p>
          <h3 style="margin-top: -10px">
            Password<span style="color: red">*</span>
          </h3>
          <p>
            <mat-form-field
              class="example-full-width"
              appearance="outline"
              style="margin-top: -6px; height: -20px; width: 494px"
            >
              <input
                matInput
                placeholder="Enter your password"
                formControlName="password"
                id="password"
                name="password"
                [(ngModel)]="password"
                required
              />
              <mat-error
                *ngIf="loginForm.controls['password'].hasError('required')"
              >
                Password is required
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <input id="checkbox" class="check" type="checkbox" />
          </p>
          <p>
            <label for="checkbox"
              ><a
                style="
                  margin-top: -35px;
                  float: left;
                  text-align: left;
                  position: relative;
                  left: 25px;
                "
                >Remember me</a
              >
              <a
                href="#"
                style="
                  margin-top: -35px;
                  float: left;
                  text-align: left;
                  position: relative;
                  left: 350px;
                "
                >Forgot password?</a
              ></label
            >
          </p>
          <mat-card-actions
            style="margin-top: -45px; float: left; text-align: left"
          >
            <div class="row">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                style="
                  background-color: black;
                  color: #ffffff;
                  width: 95.4px;
                  width: 494px;
                  margin-top: 60px;
                "
              >
                Log In
              </button>
              <span *ngIf="show"
                ><button mat-button color="accent">
                  Login success !!
                </button></span
              >
            </div>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </div>
    <!-- </mat-card> -->
  </div>
</div>
