<div class="container">
    <div class="location-heading">
        <h5>Search your location</h5>
        <p>Type your state, city</p>
    </div>
    <div class="sub-container">
        <div class="LocationSearchInput">
            <input type="email" matInput placeholder="Enter your state, city name">
        </div>
        <div class="city-options">
            <h6>Popular cities</h6>
            <div class="Maharashtra-City row">
                <!-- <mat-form-field>
                    <mat-select placeholder="Maharashtra">
                      <mat-option value="Mumbai">Mumbai</mat-option>
                      <mat-option value="Pune">Pune</mat-option>
                      <mat-option value="Nashik">Nashik</mat-option>
                    </mat-select>
                </mat-form-field>  -->
                <select aria-label="Default select example">
                    <option hidden selected>Maharashtra</option>
                    <option value="1">Mumbai</option>
                    <option value="2">Pune</option>
                    <option value="3">Nashik</option>
                </select>
            </div>
            <div class="Karnataka-City row">
                <!-- <mat-select placeholder="Karnataka">
                    <mat-option value="Bengaluru">Bengaluru</mat-option>
                    <mat-option value="Udupi">Udupi</mat-option>
                    <mat-option value="Mangaluru">Mangaluru</mat-option>
                  </mat-select> -->
                <select aria-label="Default select example" >
                    <option hidden selected>Karnataka</option>
                    <option value="1">Bengaluru</option>
                    <option value="2">Udupi</option>
                    <option value="3">Mangaluru</option>
                </select>
            </div>
            <div class="Hyderabad-City row">
                <!-- <mat-select placeholder="Hyderabad">
                    <mat-option value="VishakhaPatnam">VishakhaPatnam</mat-option>
                    <mat-option value="JH">Jubilee Hills</mat-option>
                    <mat-option value="Mallapur">Mallapur</mat-option>
                </mat-select> -->
                <select aria-label="Default select example">
                    <option hidden selected>Hyedrabad</option>
                    <option value="1">Vishakhapatnam</option>
                    <option value="2">Jubilee Hills</option>
                    <option value="3">Mallapur</option>
                </select>
            </div>
        </div>
    </div>  
</div>