
<header>
  <div class="header-left">
    <h2>Logo</h2>
  </div>
  <div class="header-right">
    <nav>
      <a routerLink="/">Dashboard</a>
      <a routerLink="listing">Bookings</a>
      <a routerLink="network">Contracts</a>
      <a routerLink="platform">Invoices</a>
      <a routerLink="about">Payments</a>
      <a routerLink=""><i class="bi bi-search"></i></a>
      <button mat-raised-button(click)="openDialog()">Settings<mat-icon>settings</mat-icon></button>
      <button mat-raised-button>Mahendra Gaur<mat-icon>account_circle</mat-icon></button>
    </nav>
  </div>
</header>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
</html> -->
<body>
  <nav>
    <label class="logo">Logo</label>
    <ul>
    <li><a href="#"></a>Dashboard</li>
    <li><a href="#"></a>Bookings</li>
    <li><a href="#"></a>Contracts</li>
    <li><a href="#"></a>Invoices</li>
    <li><a href="#"></a>Payments</li>
    <li><a href="#"></a><i class="bi bi-search"></i></li>
    <button mat-raised-button>Settings<mat-icon>settings</mat-icon></button>
    <button mat-raised-button>Mahendra Gaur<mat-icon>account_circle</mat-icon></button>
    
    
    </ul>
  </nav>
</body>