.leasing-wrapper {
  width: 100%;
  display: flex;
  padding: 20px;
}

.leasing-left-side-for-Details {
  flex-basis: 50%;
  width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.search-statewise {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  background: #f4f4f4;
  border-radius: 30px;
  display: flex;
  margin-right: 30px;
  /* position: relative; */
}

.search-statewise form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form i {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  font-size: 20px;
}

form input {
  width: 100%;
  margin: 0px 10px 0px 20px;
  outline: none;
}

#fname {
  outline: none;
  border: none;
  background-color: transparent;
}

form input ::placeholder {
  outline: none;
  border: none;
}

.search-box {
  width: 77px;
  height: 50px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  font-size: 50px;
  align-items: center;
}

.search-box i {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  border: 1px solid black;
}

mat-toolbar {
  width: 100%;
  border: none;
  height: 55px;
  margin-top: 20px;
  /* box-shadow: none; */
  display: flex;
  background-color: transparent;
}

::ng-deep.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0px 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
}

mat-toolbar-row div {
  width: 20%;
  margin-right: 5px;
}

.date-picker {
  /* margin-top: -16px; */
  height: 50px;
}

// ::ng-deep.mat-mdc-form-field-flex {
//   /* border: 1px solid black; */
// }

::ng-deep.mdc-button .mdc-button__label {
  position: relative;
  font-size: 11px;
}

::ng-deep.CloseBtn[_ngcontent-ng-c4259341304]
  button[_ngcontent-ng-c4259341304] {
  position: relative;
  width: 120px;
  padding-right: 20px;
  font-size: 11px;
}

mat-form-field {
  width: 100%;
  height: 80px;
  /* margin-top: -16px; */
  margin-left: -10px;
}

mat-mdc-form-field-focus-overlay {
  background-color: #7a3333;
  /* margin-right: 7px; */
}

mat-select {
  background-color: transparent !important;
}

.mat-label {
  background-color: transparent !important;
  /* border: 1px solid red; */
}

.mat-mdc-form-text-field-wrapper {
  background-color: transparent !important;
}

.mat-form.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  background-color: red !important;
}

.mat-form mdc-text-field {
  background-color: rgb(29, 4, 39);
}

.leasing-right-side-for-googlemap {
  flex-basis: 50%;
}

.warehouse-state-details {
  padding: 0 16px;
  width: 100%;
}

.filter-shortby p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  align-items: center;
  color: #333333;
  margin-right: 7px;
  margin-top: 5px;
}

.warehouse-state-details p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
  color: #333333;
}

.warehouse-state-details span {
  font-weight: 400;
  font-size: 18px;
}

.CloseIcon {
  margin-left: 30px;
  position: absolute;
}

.CloseBtn button {
  position: relative;
  width: 107px;
  padding-right: 20px;
}

.CloseBtn mat-icon {
  margin-left: 95px;
  position: absolute;
}

.filter-shortby {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-listby {
  background: #f1f1f1;
  margin-left: 5px;
}

.checked {
  color: gold;
}

.half-star {
  color: gold;
}
.warehouse-left-image {
  width: 25%;
}
.warehouse-right-details {
  width: 75%;
}
.warehouse-right-details h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.warehouse-right-details p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 2px;
}
.warehouse-right-details span {
  color: #494949;
  font-weight: 400;
  font-size: 12px;
}
.rating {
  align-items: center;
}
.rating p {
  margin-top: 2px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
  color: white !important;
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  border-radius: 5px !important;
  background-color: black !important;
  color: white !important;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #ffff;
  --mdc-checkbox-selected-focus-icon-color: #11110f;
  --mdc-checkbox-selected-hover-icon-color: #181716;
  --mdc-checkbox-selected-icon-color: #0f0f0f;
  --mdc-checkbox-selected-pressed-icon-color: #30302d;
  --mdc-checkbox-unselected-focus-icon-color: #0e0d0d;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}
// ::ng-deep.mat-checkbox-ripple .mat-ripple-element,
// .mat-checkbox-checked.mat-accent .mat-checkbox-background {
//   background-color: blue !important;
// }
// ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
//   background-color: black !important;
// }

// .mat-mdc-checkbox.mat-accent,
// .checked {
//   background-color: #333333;
//   .mat-checkbox-background::after {
//     background-color: #000000;
//   }
// }
// ::ngdeep
//   .mat-mdc-checkbox.mat-accent
//   .mdc-checkbox--selected
//   ~ .mdc-checkbox__ripple {
//   background-color: #000000 !important;
// }
//   background-color: #f0e5e5;
//   // mdc-checkbox-selected-icon-color: #585548;
//   mdc-checkbox-selected-icon-color: black !important;
// }
// ::ng-deep .mat-checkbox-checkmark-path {
//   stroke: black !important;
// }

// ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
//   background-color: black !important;
// }
// ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
//   background-color: black !important;
// }
.heading-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-otherDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
::ng-deep.mat-mdc-button-persistent-ripple .mdc-button__ripple {
  background-color: #000000 !important;
  color: white !important;
}

// .booking-btns:nth-child(2) {
//   background-color: #000000 !important;
//   color: white !important;
// }

.example-viewport {
  height: 400px;
  width: 650px;
  // border: 1px solid black;
}

.example-item {
  height: 50px;
}
