<div class="warehouseCompare-container">
  <div class="warehouseCompare" id="">
    <div class="filds">
      <mat-card-content class="content">
        <form>
          <div class="heading">
            <h3>Compare Warehouse</h3>
            <div class="CloseBtn">
              <button mat-mini-fab color="transperent" matDialogClose>
                <mat-icon class="CloseIcon">cancel</mat-icon>
              </button>
            </div>
          </div>
          <p>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-card>
                <mat-card-content
                  style="display: flex; justify-content: space-between"
                >
                  <div class="warehouse-left-image">
                    <img src="../../assets/Images/DRS_Wearhousing.png" alt="" />
                  </div>
                  <div class="warehouse-right-details">
                    <div class="heading-checkbox">
                      <h3>XYZ001 - DRS Warehousing</h3>
                    </div>
                    <div class="paragraph">
                      <p>
                        Address:
                        <span
                          >Sonamma Complex, 220, 61, Mahatma Gandhi
                          road...</span
                        >
                      </p>

                      <div class="cancel-btn">
                        <div class="CloseBtn">
                          <button
                            mat-mini-fab
                            color="transperent"
                            matDialogClose
                          >
                            <mat-icon class="CloseIcon">cancel</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-form-field>
          </p>
        </form>
      </mat-card-content>
    </div>
    <!-- </mat-card> -->
  </div>
</div>
