<div class="login-container">
    <div class="login-content">
        <div class="CloseBtn">
            <button mat-mini-fab color="transperent" matDialogClose>
                <mat-icon class="CloseIcon" >cancel</mat-icon>
            </button>
        </div>
            <mat-card-header style="margin-top: -45px;">
                <button mat-raised-button class="button1">Sign Up</button>
                <button mat-raised-button class="button1" (click)="login()" [routerLink]="['/login']" style="background-color: black; color: #FFFFFF; width: 95.4px;">Login</button>
            </mat-card-header>
            <div class="filds">
                <mat-card-content class="content">
                    <form [formGroup]="loginForm" novalidate (ngSubmit)="Submit()">
                        <h3>Email address*</h3>
                        <p>
                            <mat-form-field class="example-full-width" appearance="outline"style="margin-top:-6px;height:-20px;width:494px;">
                                <input matInput placeholder="Enter email address" [formControl]= "email" type="email"
                                    required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </p>
                        <h3 style="margin-top: -10px;">Password*</h3>
                        <p>
                            <mat-form-field class="example-full-width" appearance="outline"style="margin-top:-6px;height:-20px;width:494px;">
                                
                                <input matInput placeholder="Enter your password" [formControl]= "password" type="password" required>
                                <mat-error *ngIf="password.invalid">{{getErrorMsg()}}</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                        <input id="checkbox" class="check" type="checkbox"/>
                        </p>
                        <p>
                        <label for="checkbox"><a style="margin-top:-35px;float:left; text-align:left; position:relative; left:25px " >Remember me</a>
                            <a href="#"style=" margin-top:-35px;float:left; text-align:left; position:relative; left:350px">Forgot password?</a></label></p>
                        <mat-card-actions style=" margin-top:-45px;float:left; text-align:left; ">
                            <div class="row">
                                <button mat-raised-button color="primary" (click)="Submit()" style="background-color: black; color: #FFFFFF; width:95.4px; width:494px; margin-top:60px;">Submit</button>
                                <span *ngIf="show"><button mat-button color="accent">Login success !!</button></span>
                            </div>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </div>
        <!-- </mat-card> -->
    </div>
  </div>
