<div class="container-career">
    <div class="career-wrapper">
        <div class="career-heading">
            <h1>Careers</h1>
            <p>
                We are looking professional people to join us on our mission. We value flat hierarchies, clear
                communication, and
                <br />
                full ownership and responsibilities.
            </p>
        </div>
    </div>
    <form action="/action_page.php">
        <input type="text" id="fname" name="fname" placeholder="Search position" />
        <div class="search-box">
            <i class="fa fa-search"></i>
        </div>
    </form>
</div>
<div class="container-second-pages">
    <div class="links">
        <span class="career-mute"><a class="home" href="home">Home</a><span>/Careers</span></span>
    </div>
    <div class="container">
        <div class="position">
            <h3>Open Positions</h3>
            <p>We are looking professional people to join us on our mission. We value flat hierarchies, clear
                <br />
                communication, and full ownership and responsibilities.
            </p>
        </div>
        <div class="col">
            <div class="row">
                <div class="btn-group1">
                    <button type="button" class="btn btn-dark">All Positions</button>
                    <button type="button" class="btn btn-light">Marketing</button>
                    <button type="button" class="btn btn-light">Sales</button>
                    <button type="button" class="btn btn-light">Management</button>
                    <button type="button" class="btn btn-light" style="text-align:left; width:155px;">Customer Service</button>
                    <button type="button" class="btn btn-light">Operation</button>
                    <button type="button-dark" class="btn btn-dark"
                        style=" text-align:right; width:222px; margin-left:50px;">
                        <i class="fa fa-upload"></i>Upload Your Resume</button>
                </div>
            </div>
        </div>
        <hr class="solid">
    </div>
    <div class="container">
        <div class="position-2">
           <h2>Customer Success Manager</h2>
            <p>We are looking mid level customer success manager</p>
        </div>
        <div class="col">
            <div class="row">
                <div class="btn-group2">
                    <button type="button"class=" rounded-pill">Remote</button>
                    <button type="button" class="rounded-pill">Full-time</button>
                    <button type="button" class="rounded-pill">Communication</button>
                    <button type="button" class="rounded-pill">B2B</button>
                    <button type="button-dark" class="btn btn-dark" style="margin-left: 30px;">Apply Now</button>
                </div>
            </div>
        </div>
        <hr class="solid">
    </div>
    <div class="container">
        <div class="position-2">
           <h2>Customer Success Manager</h2>
            <p>We are looking mid level customer success manager</p>
        </div>
        <div class="col">
            <div class="row">
                <div class="btn-group2">
                    <button type="button"class=" rounded-pill">Remote</button>
                    <button type="button" class="rounded-pill">Full-time</button>
                    <button type="button" class="rounded-pill">Communication</button>
                    <button type="button" class="rounded-pill">B2B</button>
                    <button type="button-dark" class="btn btn-dark" style="margin-left: 30px;">Apply Now</button>
                </div>
            </div>
        </div>
        <hr class="solid">
    </div>
    <div class="container">
        <div class="position-2">
           <h2>Customer Success Manager</h2>
            <p>We are looking mid level customer success manager</p>
        </div>
        <div class="col">
            <div class="row">
                <div class="btn-group2">
                    <button type="button"class=" rounded-pill">Remote</button>
                    <button type="button" class="rounded-pill">Full-time</button>
                    <button type="button" class="rounded-pill">Communication</button>
                    <button type="button" class="rounded-pill">B2B</button>
                    <button type="button-dark" class="btn btn-dark" style="margin-left: 30px;">Apply Now</button>
                </div>
            </div>
        </div>
        <hr class="solid">
    </div>
    <div class="container">
        <div class="position-2">
           <h2>Customer Success Manager</h2>
            <p>We are looking mid level customer success manager</p>
        </div>
        <div class="col">
            <div class="row">
                <div class="btn-group2">
                    <button type="button"class=" rounded-pill">Remote</button>
                    <button type="button" class="rounded-pill">Full-time</button>
                    <button type="button" class="rounded-pill">Communication</button>
                    <button type="button" class="rounded-pill">B2B</button>
                    <button type="button-dark" class="btn btn-dark" style="margin-left: 30px;">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
   
   
</div>