
<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="log-card">
    <!-- <mat-card-header>
      <button class="button1" mat-raised-button-toggle>Sign Up</button>
      <button class="button1" mat-raised-button-toogle>Login</button> -->
      <!-- <mat-button-toggle [checked]="isTrue" (change)="isTrue" = $event.source.checked">
      Sign Up</mat-button-toggle> -->
      <!-- <button mat-raised-button class="button1">Sign Up</button>
      <button mat-raised-button class="button1" (click)="login()" [routerLink]="['/login']">Login</button>
    </mat-card-header>-->
    <mat-card-content> 
      <div class="row">
        <div class="col">
          First name
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
              required
            />
            <mat-error
              *ngIf="loginForm.controls['firstName'].hasError('required')"
            >
              First name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          Email
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput type="email"
              placeholder="Email"
              formControlName="email"
              required
            />
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Last name
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              placeholder="Last name"
              formControlName="lastname"
              required
            />
            <mat-error
              *ngIf="loginForm.controls['lastname'].hasError('required')"
            >
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          Mobile number
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput type="number"
              placeholder="Mobile Number"
              formControlName="mobno"
              required
            />
            <mat-error *ngIf="loginForm.controls['mobno'].hasError('required')">
              Mobile Number is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Company name
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput
              placeholder="Company name"
              formControlName="compname"
              required
            />
            <mat-error
              *ngIf="loginForm.controls['compname'].hasError('required')"
            >
              Company name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          Password
          <mat-form-field class="full-width" appearance="outline">
            <input
                  matInput type="password"
              placeholder="Password"
              formControlName="pswd"
              required
            />
            <mat-error *ngIf="loginForm.controls['mobno'].hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          Designation
          <mat-form-field class="full-width" appearance="outline" required>
            <input matInput  placeholder="Designation" formControlName="desig" />
            <mat-error *ngIf="loginForm.controls['desig'].hasError('required')">
              Designation is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          Confirm Password
          <mat-form-field class="full-width" appearance="outline">
            <input
              matInput type="password"
              placeholder="Confirm Password"
              formControlName="cpswd"
            />
            <mat-error *ngIf="loginForm.controls['cpswd'].hasError('required')">
              Confirm Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col"></div>
      <input id="checkbox" type="checkbox" />
      <label for="checkbox">
        I agree to these <a href="#">Terms and Conditions</a>.</label
      >
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <button mat-raised-button color="primary" (click)="onSignUp()" type="submit">Sign Up</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
