<div class="network-wrapper">
  <div class="bg-image">
    <div class="network-heading">
      <h1>Network</h1>
      <p>
        We have a diverse range of units listed from ambient warehouses,
        refrigerated and frozen units. Office and mezzanine<br />
        units are available at various locations in 10 major cities across 8
        states
      </p>
    </div>
    <div class="network-heading-buttons">
      <div class="RatingBtn">
        <select class="form-select" aria-label="Default select example">
          <option selected>Rating</option>
          <option value="1">1 Star</option>
          <option value="2">2 Star</option>
          <option value="3">3 Star</option>
          <option value="4">4 Star</option>
          <option value="5">5 Star</option>
        </select>
      </div>
      <div class="input-buttons">
        <input
          class="Search rounded-pill mr-1 pr-5"
          type="search"
          id="InputBar"
          placeholder="Search City, State for Warehouse"
        />
        <button class="SearchBtn" type="button">
          <i class="bi bi-search" style="color: #ffffff"></i>
        </button>
      </div>
      <div class="LocationBtn">
        <button mat-button (click)="SelectLocation()">
          <!-- [matMenuTriggerFor]="menu" #menuTrigger -->
          <i class="bi bi-geo-alt-fill"></i> Select Location
        </button>
        <!-- <mat-menu #menu="matMenu" class="SelectLocationMenu">
                        <div class="location-heading">
                            <h5>Search your loaction</h5>
                            <p>type your state,city</p>
                            <input type="text" matInput placeholder="Enter your state, city name">
                        </div>
                        <div class="location-dropdown">
                            <h6>Popular Cities</h6>
                            <div class="Maharashtra-cities">
                                <select aria-label="Default select example">
                                    <option selected>Maharashtra</option>
                                    <option value="1">Mumbai</option>
                                    <option value="2">Pune</option>
                                    <option value="3">Nashik</option>
                                  </select>
                            </div>
                            <div class="Karnataka-cities">
                                <select aria-label="Default select example">
                                    <option selected>Karnataka</option>
                                    <option value="1">Bengaluru</option>
                                    <option value="2">Udupi</option>
                                    <option value="3">Mangaluru</option>
                                  </select>
                            </div>
                            <div class="Maharashtra-cities">
                                <select aria-label="Default select example">
                                    <option selected>Hyderabad</option>
                                    <option value="1">Jubilee Hills</option>
                                    <option value="2">Mallapur</option>
                                    <option value="3">Ramoji</option>
                                  </select>
                            </div>
                        </div>
                    </mat-menu> -->
      </div>
    </div>
  </div>
  <div class="network-container">
    <div class="network-container-child1">
      <div class="green">
        <div class="warehouse-state-details">
          <p>Warehouse in Hyderabad <span>(20 results)</span></p>
        </div>
      </div>
      <div class="warehouse-complete-details">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <mat-card>
            <mat-card-content
              style="display: flex; justify-content: space-between"
            >
              <div class="warehouse-left-image">
                <img src="../../assets/Images/DRS_Wearhousing.png" alt="" />
              </div>
              <div class="warehouse-right-details">
                <div class="heading-checkbox">
                  <h3>XYZ001 - DRS Warehousing</h3>
                </div>
                <div class="paragraph-address-rating">
                  <p>
                    Address:
                    <span
                      >Sonamma Complex, 220, 61, Mahatma Gandhi road...</span
                    >
                  </p>

                  <div
                    class="rating"
                    style="display: flex; align-items: center; margin-top: 5px"
                  >
                    <p style="font-weight: 600">4.5</p>
                    &nbsp;&nbsp;
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-half" style="color: gold"></i>
                    <span>&nbsp; &nbsp;(240 Reviews) </span>
                  </div>
                  <div class="date-otherDetails">
                    <div class="date-availability">
                      <p>10/03/2023</p>
                      <span>Available From</span>
                    </div>
                    <div class="exp-amount">
                      <p>₹ 35,000.00/m</p>
                      <p>
                        <span>Rent (in Rs.)</span>
                      </p>
                    </div>

                    <div class="booking-btns">
                      <button mat-raised-button color="primary">
                        View Details</button
                      >&nbsp; &nbsp;
                      <button mat-raised-button color="disabled">Book</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content
              style="display: flex; justify-content: space-between"
            >
              <div class="warehouse-left-image">
                <img
                  src="../../assets/Images/Mam_Trader_Warehouse.png"
                  alt=""
                />
              </div>
              <div class="warehouse-right-details">
                <div class="heading-checkbox">
                  <h3>XYZ002 - Mam Traders Warehouse</h3>
                  <mat-checkbox>Compare</mat-checkbox>
                </div>
                <div class="paragraph-address-rating">
                  <p>
                    Address:
                    <span>629 Devara Yamjal, Road, Kompally, ...</span>
                  </p>

                  <div
                    class="rating"
                    style="display: flex; align-items: center; margin-top: 5px"
                  >
                    <p style="font-weight: 600">4.5</p>
                    &nbsp;&nbsp;
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-half" style="color: gold"></i>
                    <span>&nbsp; &nbsp;(240 Reviews) </span>
                  </div>
                  <div class="date-otherDetails">
                    <div class="date-availability">
                      <p>10/03/2023</p>
                      <span>Available From</span>
                    </div>

                    <div class="booking-btns">
                      <button mat-raised-button color="primary">
                        View Details</button
                      >&nbsp; &nbsp;
                      <button mat-raised-button color="disabled">
                        Get A Quote
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content
              style="display: flex; justify-content: space-between"
            >
              <div class="warehouse-left-image">
                <img src="../../assets/Images/Central_Warehouse.png" alt="" />
              </div>
              <div class="warehouse-right-details">
                <div class="heading-checkbox">
                  <h3>XYZ003 - Central Warehouse, Nampally</h3>
                  <mat-checkbox>Compare</mat-checkbox>
                </div>
                <div class="paragraph-address-rating">
                  <p>
                    Address:
                    <span>629 Devara Yamjal, Road, Kompally, ...</span>
                  </p>

                  <div
                    class="rating"
                    style="display: flex; align-items: center; margin-top: 5px"
                  >
                    <p style="font-weight: 600">4.5</p>
                    &nbsp;&nbsp;
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-half" style="color: gold"></i>
                    <span>&nbsp; &nbsp;(240 Reviews) </span>
                  </div>
                  <div class="date-otherDetails">
                    <div class="date-availability">
                      <p>10/03/2023</p>
                      <span>Available From</span>
                    </div>
                    <div class="exp-amount">
                      <p>₹ 35,000.00/m</p>
                      <p>
                        <span>Rent (in Rs.)</span>
                      </p>
                    </div>

                    <div class="booking-btns">
                      <button mat-raised-button color="primary">
                        View Details</button
                      >&nbsp; &nbsp;
                      <button mat-raised-button color="disabled">Book</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content
              style="display: flex; justify-content: space-between"
            >
              <div class="warehouse-left-image">
                <img src="../../assets/Images/Central_Warehouse.png" alt="" />
              </div>
              <div class="warehouse-right-details">
                <div class="heading-checkbox">
                  <h3>XYZ003 - Central Warehouse, Nampally</h3>
                  <mat-checkbox>Compare</mat-checkbox>
                </div>
                <div class="paragraph-address-rating">
                  <p>
                    Address:
                    <span>629 Devara Yamjal, Road, Kompally, ...</span>
                  </p>

                  <div
                    class="rating"
                    style="display: flex; align-items: center; margin-top: 5px"
                  >
                    <p style="font-weight: 600">4.5</p>
                    &nbsp;&nbsp;
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-fill" style="color: gold"></i>
                    <i class="bi bi-star-half" style="color: gold"></i>
                    <span>&nbsp; &nbsp;(240 Reviews) </span>
                  </div>
                  <div class="date-otherDetails">
                    <div class="date-availability">
                      <p>10/03/2023</p>
                      <span>Available From</span>
                    </div>
                    <div class="exp-amount">
                      <p>₹ 35,000.00/m</p>
                      <p>
                        <span>Rent (in Rs.)</span>
                      </p>
                    </div>

                    <div class="booking-btns">
                      <button mat-raised-button color="primary">
                        View Details</button
                      >&nbsp; &nbsp;
                      <button mat-raised-button color="disabled">Book</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
    <div class="network-container-child2">
      <div class="google-map">
        <iframe
          src="https://www.google.com/maps/d/embed?mid=1mcRUUuERWn7n6aTN3_-QXXFsJTDaxI8&ehbc=2E312F"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
