<div class="container-palt">
    <div class="plat-heading">
        <h1>Platform
        </h1>
        <p>Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero,
            sit amet
            <br />
            commodo magna eros quis urna Maecenas porttitor congue massa. Fusce posuere, magna.
        </p>
    </div>
</div>
<div class="container">
    <div class="plat-links">
        <span class="plat-mute"><a class="home" href="home">Home</a><span>/About Us</span></span>
    </div>
</div>
<div class="Warehousepro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="Warehouse">
                    <h1>Warehouse property management system</h1>
                </div>
            </div>
            <div class="col">
                <div class="Control">
                    <p>Control your property management operations and make each day more productive with
                        our warehouse property management software Propcentra.
                    </p>
                </div>
                <div class="plist">
                    <li>Manage sales inquires</li>
                    <li>Manage the whole contract life cycle</li>
                    <li>Address tenant requests efficiently</li>
                    <li>Utilities management</li>
                    <li>Statutory compliance & document management</li>
                    <li>Invoicing</li>
                </div>
            </div>
            <div class="col-md-2">
                <img class="imgrect" src="../../assets/Images/Rectangle 952.jpg" alt="image cap">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col industry">
            <img class="Rectangle953" src="../../assets/Images/Rectangle 953.jpg" alt="image cap">&nbsp;
            <p> Our industry compliant software helps you do it all! Automate your business using our industry out-of-box
                processes. The solution gives you greater control and visibility with single sources of truth across
                your business operations. Delight your employees by making their workday easier and more productive.
                Surprise your tenants with faster response times to maintenance requests, inquires and other complaints.
            </p>

        </div>
        <div class="col">
            <div class="row sitemang">
                <div class="col">
                    <div class="Easy">
                        <p>Easy to use Warehouse Property Management solution for all your needs</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h5>Site Management</h5>
                    <p>Manage all site information at one place. Define locations & units with full
                        details of their infrastructure, amenities, and services. Store all compliance documents, layout
                        drawings, certifications etc. in one place for easy retrieval and consumption. Upload most
                        recent
                        photographs that can be seamlessly used in(on subscription) or create marketing brochures in a
                        few
                        clicks!”</p>
                </div>
                <div class="column">
                    <h5>Services Catalog</h5>
                    <p>The Services Catalog allows you to define and manage list prices for all
                        the services you offer. You can define the prices for different measures and frequencies,
                        thereby giving you much greater flexibility to create tailor-made quotes & contracts.</p>
                </div>
                <div class="column">
                    <h5>Customer Management</h5>
                    <p>Your customers information is all in one place and a few clicks away. Manage the customer
                        contacts- on site and others. Upload all customer compliant documents and enable the alert
                        mechanisms for timely permit renewals.</p>
                    <button type="button" class="btn btn-light-plat" style="width: 128px; height:41px;">Contact
                        Sales</button>&nbsp;
                    <button type="button" class="btn btn-dark" style="width: 128px; height:41px; left:2px">Get
                        Started</button>
                </div>
                <div class="column">
                    <h5>Contracts Engine</h5>
                    <p>The Contracts Engine gives you complete control on creation, life cycle management and renewals
                        of contracts with your tenants. You can add and remove services opted during the tenure.</p>
                </div>
            </div>
        </div>
    </div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <div class="card-box">
        <img src="../../assets/Images/image77.jpg" class="card-img-center"
          alt="" />
        </div>
        <div class="download-light-btn">
            <button type="button" class="btn">Button</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-box">
        <img src="../../assets/Images/image78.jpg" class="card-img-center"
          alt="">
        </div>
        <div class="download-light-btn">
            <button type="button" class="btn">Button</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-box">
        <img src="../../assets/Images/image79.jpg" class="card-img-center"
          alt=""/>
        </div>
        <div class="download-light-btn">
            <button type="button" class="btn">Button</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-box">
        <img src="../../assets/Images/image80.jpg" class="card-img-center"
          alt="" />
        </div>
        <div class="download-light-btn">
            <button type="button" class="btn">Button</button>
        </div>
      </div>
    </div>
  </div>