.container-palt {
  width: 100%;
  background-image: url(../../assets/Images/image75.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 300px;
  align-items: center;
  text-align: center;
  background-size: 100%;
}

.plat-heading {
  width: 100%;
  align-items: center;
  color: #e5e5e5;
  padding: 40px;
}

.plat-heading h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.plat-heading p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.links {
  height: 100%;
  width: 100%;
  // margin-top: -90px;
}

.home {
  // left: -10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  /* or 167% */
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.plat-mute {
  width: 100%;
  height: 18px;
  // left: 50px;
  // top: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  /* or 167% */
  display: flex;
  align-items: center;
  // background-color: green;
  padding: 0px 50px;
}

.Warehouse h1 {
  // width: 750px;
  height: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  /* or 167% */
  display: flex;
  align-items: center;
  color: #333333;
}

.Control {
  width: 100%;
  height: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  display: flex;
  align-items: center;
  color: #333333;
}

.plist {
  width: 100%;
  height: 207px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  /* or 225% */
  color: #333333;
}

.imgrect {
  width: 100%;
  height: 200px;
}
.warehouse-prop-management {
  width: 100%;
  display: flex;
  padding: 0px 50px;
  // background-color: green;
}
.industry-left {
  flex-basis: 30%;
  padding-right: 20px;

  // background-color: blueviolet;
}
.industry-right {
  flex-basis: 70%;
  padding-left: 2px;
  // background-color: brown;
}
.industry p {
  padding: 10px;
}
.Rectangle953 {
  margin-top: 30px;
  width: 100%;
  height: 250px;
  background: #d9d9d9;
}
.Easy {
  width: 100%;
}
.Easy p {
  // width: 646px;
  // height: 90px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  /* or 111% */
  display: flex;
  // align-items: center;
  color: #333333;
}

.row-sitemang {
  display: flex;
}

.site p {
  // width: 400px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #333333;
}

.Services p {
  // width: 400px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #333333;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn-light-plat {
  border: 1px solid black;
}

/* cards */
.card {
  width: 100%;
  height: 326px;
  border: none;
  align-items: center;
}

.card-img-center {
  width: 100%;
  height: 277px;
  margin-top: 17px;
  align-items: center;
}

.card-box {
  box-sizing: border-box;
  width: 100%;
  height: 317px;
  background: #f8f8f8;
  border-radius: 6px;
  align-items: center;
}

.card-img-top {
  width: 50%;
  // height:290px;
  // left: 21px;
  top: 28px;
}
.warehouse-cards-boxes {
  width: 25%;
  // background-color: blue;
  align-items: center;
}
.download-light-btn {
  height: 44px;
  width: 146px;
  margin-top: -93px;
  margin-left: 48px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 3px 20px;
}

.property-mang-left {
  flex-basis: 60%;
  width: 100%;
}
.property-mang-right {
  flex-basis: 40%;
  width: 100%;
}
.property-mang-right img {
  width: 100%;
  height: 339px;
  background: #d9d9d9;
}
.plat-links-tag,
.plat-links {
  width: 100%;
  // background-color: red;
}
.Warehousepro-banner {
  width: 100%;
  // background-color: red;
}

.Warehousepro-body-warraper {
  width: 100%;
  // background-color: pink;
  padding: 0px 50px;
}
.warehouse-property-mang {
  width: 100%;
  display: flex;
  // background-color: red;
  height: 400px;
  margin-bottom: 20px;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.warehouse-mang-solutions {
  width: 100%;
  // background-color: red;
  padding: 0px 50px;
  display: flex;
}
.warehouse-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}
