<div class="container">
    <div class="CloseBtn">
        <button mat-mini-fab color="transperent" matDialogClose>
            <mat-icon class="CloseIcon" >cancel</mat-icon>
        </button>
    </div>
    <div class="message">
        <mat-icon class="CheckIcon">check_circle</mat-icon>
        <h5>Your account has been created successfully!</h5>
    </div>
    <div class="activation-link">
        <p>
            Click on the activation link sent to <br>
            <a>mahendrasingh@gmail.com</a> to access your account.
        </p>
    </div>

</div>
