.container-home {
  width: 100%;
  background-image: url(../../assets/Images/HomePageBGimg.png);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 600px;
  align-items: center;
  text-align: center;
  background-size: 100%;
}

.home-wrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homepage-heading {
  width: 100%;
  align-items: center;
}

.homepage-heading h1 {
  padding-top: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.homepage-heading p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

form {
  width: 60%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  display: flex;
  padding-left: 10px;
  /* padding-right: 10px; */
  font-size: 14px;
  line-height: 16px;
  color: rgba(51, 51, 51, 0.8);
}

form input {
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: rgba(51, 51, 51, 0.8);
  /* margin-left: 20px; */
  margin-right: 20px;
  border-right: 1px solid #e8e6e6;
  /* transform: rotate(90deg); */
  height: 40px;
}

::placeholder {
  border: none;
}

form :nth-child(2) {
  width: 20%;
}

form select {
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: rgba(51, 51, 51, 0.8);
}

#fname {
  width: 50%;
  position: relative;
  border-right: 1px solid #e8e6e6;
  outline: none;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
}

#Duration {
  border-right: 1px solid #e8e6e6;
  outline: none;
  height: 40px;
}

#Unit-Area {
  border-right: 1px solid #e8e6e6;
  outline: none;
  height: 40px;
}

.Start-Date {
  border-right: 1px solid #e8e6e6;
  outline: none;
  height: 50px;
}

#fname:focus::placeholder {
  border: none;
  outline: none;
}

.search-box {
  width: 160px;
  height: 50px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin-left: 15px;
  color: white;
}

.search-box svg {
  margin-top: 20px;
  color: white;
  border: 2px solid #ffffff;
}

.fa-search {
  font-size: 30px !important;
  margin-top: 10px !important;
  /* border: 2px solid #FFFFFF; */
  /* padding-top: 10px !important; */
}

.container-second-pages {
  /* width: 100%; */
  height: 280vh;
  padding: 0px 40px;
}

.second-pages-wrapper {
  width: 100%;
}
.all-pages-body {
  background-image: url(../../assets/Images/ImageDot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 90%;
  // height: 100vh;
  align-items: center;
  text-align: center;
  background-size: 90%;
  // margin-left: 5%;
  // margin-right: 5%;
  z-index: 999;
  // position: absolute;
}

.second-page-header {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.second-page-header h1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-listing-images {
  align-items: center;
}
.container-second {
  width: 100%;
  z-index: 9999;
  position: relative;
}
// .container-second {
//   width:100%;
//   // background-image: url(../../assets/Images/ImageDot.jpg);
//   background-repeat: no-repeat;
//   object-fit: cover;
//   // height: 1341px;
//   align-items: center;
//   text-align: center;
//   background-size: 100%;

// }

.left-content-data {
  text-align: justify;
  margin-top: 30px;
  width: 25%;
  position: absolute;
  margin-left: 20%;
}

.left-content-data p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.left-content-data span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #000000;
}
.left-content-data-two {
  text-align: left;
  margin-top: 8%;
  width: 25%;
  position: absolute;
  margin-left: 76%;
  float: right;
}
.left-content-data-two p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
}
.left-content-data-two span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.left-content-data-three {
  text-align: left;
  margin-top: 38%;
  width: 25%;
  position: absolute;
  margin-left: 20%;
  float: right;
}

.left-content-data-three p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.left-content-data-three span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.left-content-data-four {
  text-align: left;
  margin-top: 57%;
  width: 25%;
  position: absolute;
  margin-left: 42%;
  float: right;
}

.left-content-data-four p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.left-content-data-four span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.left-content-data-five {
  text-align: left;
  margin-top: 41%;
  width: 13%;
  position: absolute;
  margin-left: 90%;
  float: right;
}
.left-content-data-five p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
}
.left-content-data-five span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
.left-content-data-six {
  text-align: left;
  margin-top: 57%;
  width: 17%;
  position: absolute;
  margin-left: 84%;
  float: right;
}
.left-content-data-six p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
}
.left-content-data-six span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
.count-number-two p {
  align-items: center;
  margin-top: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.right-content-data p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
  color: #000000;
}

.right-content-data span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #000000;
}

.count-number-three p {
  align-items: center;
  margin-top: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.left-content-data span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  color: #000000;
}

.right-content-data-three {
  padding-left: 20px;
}

.right-content-data-three p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
  color: #000000;
}

.right-content-data-three span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #000000;
}

.count-number-six {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #d9d9d9;
  border: 4px solid #ffffff;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -190px;
  margin-left: 110px;
}

.count-number-six p {
  align-items: center;
  margin-top: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.left-content-data-seven {
  text-align: left;
  margin-top: 93%;
  width: 13%;
  position: absolute;
  margin-left: 60%;
  float: right;
}

.left-content-data-seven p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
  color: #000000;
}

.left-content-data-seven span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #000000;
}

.count-number-seven p {
  align-items: center;
  margin-top: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.image-left-seven {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.all-pages-body {
  width: 100%;
  height: 1841px;
}
