<div class="container-home">
  <div class="home-wrapper">
    <div class="homepage-heading">
      <h1>
        Changing the way businesses <br />
        search & lease warehousing space
      </h1>
      <p>
        Take advantage of our warehouse network across India's major metros,
        <br />
        tier I, tier II and tier III cities
      </p>
    </div>
    <form action="/action_page.php">
      <input
        type="text"
        id="fname"
        name="fname"
        placeholder="Search City, State for warehouse"
      />
      <input type="date" placeholder="Start Date" class="Start-Date" />

      <select name="Duration" id="Duration">
        <option value="duration">Duration</option>
        <option value="year">12 Months</option>
      </select>

      <select name="unit" id="Unit-Area">
        <option value="unit">Unit Area</option>
        <option value="unit">Unit Area</option>
      </select>

      <select name="unit" id="Unit-Type">
        <option value="unit">Unit Type</option>
        <option value="unit">Unit Type</option>
      </select>
      <div class="search-box">
        <i class="fa fa-search"></i>
      </div>
    </form>
  </div>
</div>
<div class="container-second-pages">
  <div class="second-pages-wrapper">
    <div class="second-page-header">
      <h1>How It Works?</h1>
    </div>
    <div class="all-pages-body">
      <!-- <img src="../../assets/Images/ImageDot.jpg" alt=""> -->
      <div class="container-second">
        <div class="left-content-data">
          <p>Run a search</p>
          <span
            >Search by City, Start date, Duration, <br />
            Unit area, Unit type, etc.</span
          >
        </div>

        <div class="left-content-data-two">
          <p>Review listings</p>
          <span
            >Review listings with full details like infrastructure, safety &
            security, infrastructure, amenities etc.
          </span>
        </div>

        <div class="left-content-data-three">
          <p>Compare warehouse units</p>
          <span
            >Use our smart algorithm to compare <br />
            U your picks and make recommendations.</span
          >
        </div>

        <div class="left-content-data-four">
          <p>Pick your unit</p>
          <span
            >Pick the warehouse unit matching your<br />
            requirements</span
          >
        </div>
        <div class="left-content-data-five">
          <p>Add Service</p>
          <span
            >Choose from a range of value added services on offer to make your
            operations more efficient"
          </span>
        </div>

        <div class="left-content-data-six">
          <p>Make a Booking</p>
          <span
            >Review the choices made and make a booking by paying a nominal fee
          </span>
        </div>
        <div class="left-content-data-seven">
          <p>Move-In</p>
          <span>Move-in on the date assigned to the booking </span>
        </div>
      </div>
    </div>
  </div>
</div>
