<div class="container-home">
  <div class="home-wrapper">
    <div class="homepage-heading">
      <h1>
        Changing the way businesses <br />
        search & lease warehousing space
      </h1>
      <p>
        Take advantage of our warehouse network across India's major metros,
        <br />
        tier I, tier II and tier III cities
      </p>
    </div>
    <form action="/action_page.php">
      <input
        type="text"
        id="fname"
        name="fname"
        placeholder="Search City, State for warehouse"
      />
      <input type="date" placeholder="Start Date" class="Start-Date" />

      <select name="Duration" id="Duration">
        <option value="duration">Duration</option>
        <option value="year">12 Months</option>
      </select>

      <select name="unit" id="Unit-Area">
        <option value="unit">Unit Area</option>
        <option value="unit">Unit Area</option>
      </select>

      <select name="unit" id="Unit-Type">
        <option value="unit">Unit Type</option>
        <option value="unit">Unit Type</option>
      </select>
      <div class="search-box">
        <i class="fa fa-search"></i>
      </div>
    </form>
  </div>
</div>
<div class="container-second-pages">
  <div class="second-pages-wrapper">
    <div class="second-page-header">
      <h1>How It Works?</h1>
    </div>
    <div class="search-listing-images">
      <!-- <img src="../../assets/Images/line1.png" alt="" /> -->
      <div class="image-left">
        <div class="left-image-data">
          <img src="../../assets/Images/image78.png" alt="" />
          <div class="count-number-one">
            <p>01</p>
          </div>
        </div>
        <div class="left-content-data">
          <p>Run a search</p>
          <span
            >Search by City, Start date, Duration, <br />
            Unit area, Unit type, etc.</span
          >
        </div>
      </div>
      <div class="image-right">
        <div class="right-image-data">
          <img src="../../assets/Images/image2.png" alt="" />
          <div class="count-number-two">
            <p>02</p>
          </div>
        </div>
        <div class="right-content-data">
          <p>Review listings</p>
          <span
            >Review listings with full details like <br />
            infrastructure, safety & security, <br />
            infrastructure, amenities etc.
          </span>
        </div>
      </div>
    </div>
    <div class="search-listing-images-two">
      <div class="image-left-two">
        <div class="left-image-data-two">
          <img src="../../assets/Images/image3.png" alt="" />
          <div class="count-number-three">
            <p>03</p>
          </div>
        </div>
        <div class="left-content-data-two">
          <p>Compare warehouse units</p>
          <span
            >Use our smart algorithm to compare <br />
            your picks and make recommendations</span
          >
        </div>
      </div>
      <div class="image-right-two">
        <div class="right-image-data-two">
          <img src="../../assets/Images/image84.png" alt="" />
          <div class="count-number-five">
            <p>05</p>
          </div>
        </div>
        <div class="right-content-data">
          <p>Add Service</p>
          <span
            >Choose from a range of <br />
            value added services on <br />
            offer to make your <br />
            operations more efficient"
          </span>
        </div>
      </div>
    </div>
    <div class="search-listing-images-three">
      <div class="image-left-three">
        <div class="left-image-data-three">
          <img src="../../assets/Images/image83.png" alt="" />
          <div class="count-number-four">
            <p>04</p>
          </div>
        </div>
        <div class="left-content-data-three">
          <p>Pick your unit</p>
          <span
            >Pick the warehouse unit matching your <br />
            requirements</span
          >
        </div>
      </div>
      <div class="image-right-three">
        <div class="right-image-data-three">
          <img src="../../assets/Images/image85.png" alt="" />
          <div class="count-number-six">
            <p>06</p>
          </div>
        </div>
        <div class="right-content-data-three">
          <p>Make a Booking</p>
          <span
            >Review the choices made and <br />
            make a booking by paying a <br />
            nominal fee
          </span>
        </div>
      </div>
    </div>
    <div class="search-listing-images-seven">
      <div class="image-left-seven">
        <div class="left-image-data-seven">
          <img src="../../assets/Images/image86.png" alt="" />
        </div>
        <div class="count-number-seven">
          <p>07</p>
        </div>
        <div class="left-content-data-seven">
          <p>Move-In</p>
          <span
            >Move-in on the date <br />
            assigned to the booking</span
          >
        </div>
      </div>
    </div>
  </div>
</div>